.navbar{
    background-color: var(--bkg-header);
    display: flex;
    align-items: center;
}

.navbar__container-btn{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.navbar__input{
    width: 35em;
    border-radius: 8px;
    height: 3em;
}
.navbar__input::placeholder{
    text-align: center;
}
.search-icon{
    position: absolute;
    top: 0;
    left: 10px;
    color: var(--font-descrip);
}
.navbar__btn-search{
    background-color: var(--accent-color);
    color: var(--body-color);
    width: 120px;
    height: 35px;
    border: none;
    margin-top: 8px;
    font-weight: bold;
    font-size: 20px;
}

.navbar__btn-search:hover{
    background-color: var(--button-hover);
}


.buttons__fav-buy{
    display: flex;
    justify-content: space-around;
    width: 14.5em;
    gap: 2em;
}
.btn-fav, .btn-buy{
    text-decoration: none;
    background-color:var(--bkg-header);
    border: none;
}

.sections{
  margin-top: 3em;
  text-align: center;
  word-spacing: 10em;
  font-weight: bold;
  font-size: 20px;
  
}
.links{
    text-decoration: none;
    color: var(--font-nav);
    padding: 1rem;
}

.links:hover{
    color: var(--txt-accent-color);
}

@media screen and (max-width: 1000px){
    .navbar__input{
        width: 20em;
    }
    .buttons__fav-buy{
        display: flex;
        justify-content: end;
        width: 9em;
    }
}

@media screen and (max-width: 768px){
    .navbar__input{
        width: 10em;
    }
    .search-icon{
        display: none;
    }
}

@media screen and (max-width: 590px){
    .buttons__fav-buy{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
} 

