.container-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    gap: 1rem;
}

.title{
    font-weight: 800;
    font-size: 70px;
    color: var(--txt-accent-color);
}
.subtitle{
    width: 40%;
    font-weight: 500;
    font-size: 20px;
    color: var(--font-descrip);
}