.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}
.container-card{
    padding: 1.5rem;
    border-radius: 0.4rem;
    width: 23rem;
    list-style-type: none;
    background-color: var(--bkg-card);
}

.img-product{
    width: 100%;
}
.container-txt{
    padding: 0.8rem;
}

.container-btn-card{
    display: flex;
    gap: 1rem;
}

.description{
    font-size: 1rem;
}

.price{
   font-size: 1.6rem; 
}

.shop-btn,
.fav-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer; 
}

@media only screen and (max-width:768px) {
    .card-list {
        flex-direction: column;
        align-items: center;
    }

    .container-card{
        padding: 1rem;
        width: 20rem;
    }
}
